// ./frontend_angular/src/app/features/clientes/pages/clientes-page/clientes-page.component.scss
@use 'variables' as *;

.clientes-page {
  display: flex;
  flex-direction: column;
  padding: $spacing-lg;
}
