// ./frontend_angular/src/app/shared/components/molecules/header-actions/header-actions.component.scss
@use 'variables' as *;

:host {
  display: block;
  width: 100%;
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-md;
  width: 100%;
}
